.container {
  .flex-between-start();
  flex-wrap: wrap;
  // width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: @width-tablet) {
    .flex-around-center();
    // width: 738px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: @width-desktop) {
    width: 1170px;
    // padding-left: 15px;
    // padding-right: 15px;
  }
}

.container--center {
  align-items: center;
}