.header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1e1e1e;
  z-index: 100;
}



  .header__logo {
    @media (min-width: @width-tablet){
      margin-bottom: 15px;
    }
    @media (min-width: @width-desktop) {
      margin-left: -15px;
    }
  }
  .header__nav {
    @media (min-width: @width-desktop) {
      margin-right: -15px;
    }
  }
 
