.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #1e1e1e;
  z-index: 100;
}

.header__container {
  margin-top: 10px;
}

.header__logo {
  margin-left: -15px;
}

.header__nav {
  margin-right: -15px;
}